@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: beige;
}

.App input {
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  padding: 0.75rem;
  width: 80%;
}
